<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="dashboard">
        <button routerLink="/dashboard">retour</button>
        <div class="title">
            <h2> Name of the country : </h2>
        </div>
        <div class="row">
            <div class="zone">
                <h3>Number of entries</h3>
                <p>10</p>
            </div>
            <div class="zone">
                <h3>Total number medals</h3>
                <p>10</p>
            </div>
            <div class="zone">
                <h3>Total number of athletes</h3>
                <p>10</p>
            </div>
        </div>
        <div class="line-chart">
            <canvas #lineCanvas></canvas>
        </div>
    </div>
</body>