.dashboard {
    font-family: 'Montserrat';
    width: 40%;
    margin: auto;
    border: 3px solid #04838f;
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff;
}
.dashboard h2 {
    margin-left: 220px;
    margin-right: 220px;
    font-size: 26px;
    text-align: center;
    color: #fff;
    background-color: #04838f;
    border-radius: 10px;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.zone {
    width: 24%;
    text-align: center;
    border: 2px solid #04838f;
    border-radius: 15px;
}

.zone h3 {
font-weight: 400;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.zone p {
    font-weight: 700;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0px;
}

.line-chart {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 220px;
}

.line-chart canvas {
    width: 100%;
    height: 100%;
}

button {
    background-color: #04838f;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #036b75;
}

@media (max-width: 768px) {
    .dashboard {
        width: 95%;
        padding: 8px;
    }

    .dashboard h2 {
        margin: auto;
        margin-bottom: 10px;
        margin-top :20px;
        width: 80%;
        font-size: 18px;
        font-weight: 600;
    }

    .row {
        flex-direction: column;
        gap: 15px;
    }

    .zone {
        margin: auto;
        width: 65%;
        text-align: center;
    }

    .zone h3 {
        font-weight: 400;
        font-size: 15px;
        margin-top: 10px;
    }

    .zone p {
        font-weight: 600;
        font-size: 16px;
    }

    button {
        width: 100%;
    }
}